body {
    background-color: rgb(238, 196, 203);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

#calc-container {
    min-width: 500px;
    min-height: 700px;
    background-color: #666;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #000;
}