body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ddd;
}

.calc-container {
    min-width: 500px;
    min-height: 700px;
    background-color: #555;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #333;
}